{% extends "base.twig" %}

{% block content %}
{% for element in elements %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <{{element.balise}} class ="{{element.class}}" href="{{element.href}}" alt="{{element.alt}}" id="{{element.id_css}} role="{{element.role}}"> {{element.content}} </{{ element.balise }}>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}